<div class="pageheader">
  <h2><i class="fa fa-file-text-o"></i> Post <span>show</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel panel-dark">
    <div class="panel-heading">
      <h4 class="panel-title">Post</h4>
    </div>
    <div class="panel-body panel-body-nopadding">
      <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.category' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @post.category.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.en_title' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @post.en_title, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.zh_title' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @post.zh_title, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.permalink' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, "http://uklaomao.com/#{@post.permalink}", readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.en_home_description' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :nil, @post.en_home_description, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.zh_home_description' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :nil, @post.zh_home_description, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.en_description' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :nil, @post.en_description, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.zh_description' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :nil, @post.zh_description, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.en_pull_quote' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :nil, @post.en_pull_quote, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.zh_pull_quote' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :nil, @post.zh_pull_quote, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.en_content' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :nil, @post.content, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.zh_content' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :nil, @post.content, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.state' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @post.state, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.published_at' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, brac_datetime(@post.published_at), readonly: true, class: 'form-control' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Return', cms_posts_path, class: 'btn btn-default' %>&nbsp;
      <%= link_to 'Edit', edit_cms_post_path(@post), class: 'btn btn-primary' %>&nbsp;
      <% if @post.draft? %><%= link_to 'Publish', publish_cms_post_path(@post), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>&nbsp;<% end %>
      <%= link_to 'Delete', [:cms, @post], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
  </div>
</div>