<div class="pageheader">
  <h2><i class="fa fa-file-text-o"></i> Post <span>show</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel panel-dark">
    <div class="panel-heading">
      <h4 class="panel-title">Post</h4>
    </div>
    <div class="panel-body panel-body-nopadding">
      <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.category' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @post.category.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.en_title' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @post.en_title, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.zh_title' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @post.zh_title, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.permalink' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, "http://uklaomao.com/#{@post.permalink}", readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.cover' %></label>
          <div class="col-sm-6">
            <%= image_tag @post.cover.w800_h600_fl_q80, class: 'img-responsive' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.en_home_description' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :nil, @post.en_home_description, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.zh_home_description' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :nil, @post.zh_home_description, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.en_description' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :nil, @post.en_description, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.zh_description' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :nil, @post.zh_description, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.en_pull_quote' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :nil, @post.en_pull_quote, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.zh_pull_quote' %></label>
          <div class="col-sm-6">
            <%= text_area_tag :nil, @post.zh_pull_quote, readonly: true, rows: 8, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.en_content' %></label>
          <div class="col-sm-8">
             <%= cktext_area_tag :en_content, @post.en_content, cols: 40, ckeditor: { readOnly: 'true', toolbar: [] } %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.zh_content' %></label>
          <div class="col-sm-8">
             <%= cktext_area_tag :zh_content, @post.zh_content, cols: 40, ckeditor: { readOnly: 'true', toolbar: [] } %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.state' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @post.aasm.human_state, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.published_at' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, brac_datetime(@post.published_at), readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'post.display_setting' %></label>
          <div class="col-sm-6 mt5">
            <%= content_tag :span, brac_t('post.carousel'), class: 'label label-success' if @post.displayed_in_carousel? %>
            <%= content_tag :span, brac_t('post.recommended'), class: 'label label-info' if @post.displayed_in_recommended? %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Return', cms_posts_path, class: 'btn btn-default' %>&nbsp;
      <%= link_to 'Edit', edit_cms_post_path(@post), class: 'btn btn-primary' %>&nbsp;
      <% if @post.draft? %><%= link_to 'Publish', publish_cms_post_path(@post), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>&nbsp;<% end %>
      <% if @post.trashed? %>
      <%= link_to 'Restore', restore_cms_post_path(@post), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>&nbsp;
      <% else %>
      <%= link_to 'Delete', trash_cms_post_path(@post, page: params[:page]), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>