<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <div id="simple_carousel" class="carousel simple_scale animate_text simple_carousel_wrapper" data-ride="carousel" data-interval="10000" data-pause="hover">
        <ol class="carousel-indicators simple_carousel_indicators">
          <% @carousel_posts.each_with_index do |post, i| %>
          <li data-target="#simple_carousel" data-slide-to="<%= i %>"<%= raw(' class="active"') if i.zero? %>></li>
          <% end %>
        </ol>
        <div class="carousel-inner" role="listbox">
          <% @carousel_posts.each_with_index do |post, i| %>
          <div class="item<%= ' active' if i.zero? %>">
            <%= link_to image_tag(post.cover.w1800_h1350_fl_q80), post %>
            <div class="carousel-caption simple_carousel_caption simple_carousel_caption_center" data-animation="animated fadeInLeft">
              <h1 class="text-left" data-animation="animated fadeInDown"><%= link_to post.title(I18n.locale), post %></h1>
              <p class="text-left" data-animation="animated fadeInDown"><%= link_to post.home_description(I18n.locale), post %></p>
              <%#= link_to t('view.post.read_more'), post, data: { animation: 'animated fadeInDown' }, class: 'simple_carousel_transparent_button carousel-read-more' %>
            </div>
          </div>
          <% end %>
        </div>
        <a class="left carousel-control simple_carousel_control_left" href="#simple_carousel" role="button" data-slide="prev">
          <span class="fa fa-angle-left simple_carousel_control_icons" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control simple_carousel_control_right" href="#simple_carousel" role="button" data-slide="next">
          <span class="fa fa-angle-right simple_carousel_control_icons" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-xs-3 home-side">
      <div class="home-flag">
        <%= image_tag('frontend_v2/shortcut_1.jpg', class: 'img-responsive') %>
      </div>
      <div class="home-magazine">
        <%= link_to image_tag('frontend_v2/magazine_demo.jpg', class: 'img-responsive'), magazines_path %>
        <h3>
          <% if I18n.locale == :en %>
          《UKLM》ISSUE 06
          <% else %>
          《英国老帽儿》第六期
          <% end %>
        </h3>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
      <div class="home-subtitle">
        <% if I18n.locale == :en %>
        <%= image_tag 'frontend_v2/home_subtitle_en.jpg', class: 'img-responsive' %>
        <% elsif I18n.locale == :zh %>
        <%= image_tag 'frontend_v2/home_subtitle_en.jpg', class: 'img-responsive' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="home-highlight">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <h3>
              <% if I18n.locale == :en %>
              <%= image_tag 'frontend_v2/tag_highlights_en.png', class: 'title' %>
              <% elsif I18n.locale == :zh %>
              <%= image_tag 'frontend_v2/tag_highlights_zh.png', class: 'title' %>
              <% end %>
            </h3>
            <div class="home-highlight-canvas">
              <a href="<%= url_for(@recommended_posts[0]) %>" class="home-highlight-large"><%= image_tag @recommended_posts[0].cover.w800_h600_fl_q80, class: 'img-responsive' %></a>
              <a href="<%= url_for(@recommended_posts[2]) %>" class="home-highlight-small home-highlight-f5d8b8">
                <%= image_tag @recommended_posts[2].cover.w800_h600_fl_q80, class: 'img-responsive' %>
                <h5><%= @recommended_posts[2].title(I18n.locale) %></h5>
                <p class="description"><%= @recommended_posts[2].home_description(I18n.locale) %></p>
              </a>
              <a href="<%= url_for(@recommended_posts[3]) %>" class="home-highlight-small home-highlight-3b3633">
                <%= image_tag @recommended_posts[3].cover.w800_h600_fl_q80, class: 'img-responsive' %>
                <h5><%= @recommended_posts[3].title(I18n.locale) %></h5>
                <p class="description"><%= @recommended_posts[3].home_description(I18n.locale) %></p>
              </a>
              <a href="<%= url_for(@recommended_posts[4]) %>" class="home-highlight-small home-highlight-5a798b">
                <%= image_tag @recommended_posts[4].cover.w800_h600_fl_q80, class: 'img-responsive' %>
                <h5><%= @recommended_posts[4].title(I18n.locale) %></h5>
                <p class="description"><%= @recommended_posts[4].home_description(I18n.locale) %></p>
              </a>
              <a href="<%= url_for(@recommended_posts[5]) %>" class="home-highlight-small home-highlight-dcdcdc">
                <%= image_tag @recommended_posts[5].cover.w800_h600_fl_q80, class: 'img-responsive' %>
                <h5><%= @recommended_posts[5].title(I18n.locale) %></h5>
                <p class="description"><%= @recommended_posts[5].home_description(I18n.locale) %></p>
              </a>
              <a href="<%= url_for(@recommended_posts[1]) %>" class="home-highlight-large"><%= image_tag @recommended_posts[1].cover.w800_h600_fl_q80, class: 'img-responsive' %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="home-category">
        <h3>
          <% if I18n.locale == :en %>
          <%= image_tag 'frontend_v2/tag_people_en.png', class: 'title' %>
          <% elsif I18n.locale == :zh %>
          <%= image_tag 'frontend_v2/tag_people_zh.png', class: 'title' %>
          <% end %>
        </h3>
        <div class="row">
          <% @people_posts.each do |post| %>
          <div class="col-xs-4">
            <article>
              <%= link_to image_tag(post.cover.w400_h300_fl_q80, class: 'img-responsive'), post %>
              <div class="caption">
                <h5><%= link_to post.title(I18n.locale), post %></h5>
                <div class="description">
                  <%= sanitize(post.content(I18n.locale), tags: []).try(:truncate, 120) %>
                </div>
              </div>
            </article>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="home-category">
        <h3>
          <% if I18n.locale == :en %>
          <%= image_tag 'frontend_v2/tag_places_en.png', class: 'title' %>
          <% elsif I18n.locale == :zh %>
          <%= image_tag 'frontend_v2/tag_places_zh.png', class: 'title' %>
          <% end %>
        </h3>
        <div class="row">
          <% @place_posts.each do |post| %>
          <div class="col-xs-4">
            <article>
              <%= link_to image_tag(post.cover.w400_h300_fl_q80, class: 'img-responsive'), post %>
              <div class="caption">
                <h5><%= link_to post.title(I18n.locale), post %></h5>
                <div class="description">
                  <%= sanitize(post.content(I18n.locale), tags: []).try(:truncate, 120) %>
                </div>
              </div>
            </article>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="home-category">
        <h3>
          <% if I18n.locale == :en %>
          <%= image_tag 'frontend_v2/tag_music_en.png', class: 'title' %>
          <% elsif I18n.locale == :zh %>
          <%= image_tag 'frontend_v2/tag_music_zh.png', class: 'title' %>
          <% end %>
        </h3>
        <div class="row">
          <% @music_posts.each do |post| %>
          <div class="col-xs-4">
            <article>
              <%= link_to image_tag(post.cover.w400_h300_fl_q80, class: 'img-responsive'), post %>
              <div class="caption">
                <h5><%= link_to post.title(I18n.locale), post %></h5>
                <div class="description">
                  <%= sanitize(post.content(I18n.locale), tags: []).try(:truncate, 120) %>
                </div>
              </div>
            </article>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="home-archive">
        <h3><%= t('view.home.popular') %></h3>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
              <% @popular_posts.each_with_index do |post, i| %>
              <div class="col-xs-4">
                <div class="home-archive-item">
                  <div class="row">
                    <div class="col-xs-2">
                      <div class="number"><%= i + 1 %></div>
                    </div>
                    <div class="col-xs-10">
                      <h5><%= link_to post.title(I18n.locale), post %></h5>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="home-expert">
        <% if I18n.locale == :en %>
        <%= image_tag 'frontend_v2/tag_expert_en.jpg', class: 'center-block title' %>
        <% elsif I18n.locale == :zh %>
        <%= image_tag 'frontend_v2/tag_expert_zh.jpg', class: 'center-block title' %>
        <% end %>
        <div class="row">
          <% @experts.each do |expert| %>
          <div class="col-xs-2">
            <div class="home-expert-item">
              <%= link_to image_tag(expert.portrait.w340_h340_fl_q80, class: 'img-responsive portrait'), experts_path %>
              <h5><%= link_to expert.zh_name, experts_path %></h5>
              <h5><%= link_to expert.en_name, experts_path %></h5>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>