<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="home-popular">
        <div class="home-popular-header"><%= t('view.category.popular') %> <%= @category.name(I18n.locale) %></div>
        <ul class="home-popular-posts">
          <% @popular_posts[0..13].each do |post| %>
          <li><%= link_to post.title(I18n.locale), post %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="home-carousel">
        <div id="home-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
            <li data-target="#home-carousel" data-slide-to="3"></li>
            <li data-target="#home-carousel" data-slide-to="4"></li>
            <li data-target="#home-carousel" data-slide-to="5"></li>
            <li data-target="#home-carousel" data-slide-to="6"></li>
            <li data-target="#home-carousel" data-slide-to="7"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <% @carousel_posts.each_with_index do |post, i| %>
            <div class="item<%= ' active' if i.zero? %>">
              <%= link_to image_tag(post.cover.w800_h600_fl_q80), post %>
              <a href="<%= url_for(post) %>">
                <div class="carousel-caption">
                  <h3><%= post.title(I18n.locale) %></h3>
                  <p><%= post.home_description(I18n.locale) %></p>
                </div>
              </a>
            </div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @posts[0..2].each do |post| %>
    <div class="col-sm-4 home-post">
      <%= render partial: 'post', locals: { post: post } %>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <% @posts[3..8].try(:each) do |post| %>
        <div class="col-sm-6 home-post">
          <%= render partial: 'post', locals: { post: post } %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="quote-list">
        <div class="quote-list-header"><%= t('view.category.recommended')%> <%= @category.name(I18n.locale) %></div>
        <div class="quote-list-posts">
          <% @recommended_posts.each do |post| %>
          <div class="quote-list-post">
            <div class="row">
              <div class="col-sm-5">
                <%= image_tag(post.cover.w400_h300_fl_q80, class: 'img-responsive') %>
              </div>
              <div class="col-sm-7">
                <div class="quote-list-category"><%= post.category.name(I18n.locale) %>:</div>
                <h3><%= link_to post.title(I18n.locale), post %></h3>
                <div class="quote-list-quote">
                  <% if locale_en? %>
                  <%= post.en_description.try(:truncate, 100) %>
                  <% else %>
                  <%= post.zh_description.try(:truncate, 48) %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <% @posts[9..12].try(:each) do |post| %>
        <div class="col-sm-6 home-post">
          <%= render partial: 'post', locals: { post: post } %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <div id="search-bar" class="home-search">
        <span>search</span>
        <input id="home-search-text" type="text" class="text-field" />
        <%= image_submit_tag('frontend/search_submit.jpg', class: 'submit') %>
        <div class="clear"></div>
      </div>
      <div id="subscribe-bar" class="home-subscribe">
        <span>subscribe</span>
        <input id="home-subscribe-text" type="text" class="text-field" />
        <%= image_submit_tag('frontend/subscribe_submit.jpg', class: 'submit') %>
        <div class="clear"></div>
      </div>
      <div class="home-gallery">
        <div class="row">
          <% @gallary_posts.each do |post| %>
          <div class="col-sm-6">
            <div class="home-gallery-photograph mb10"><%= link_to image_tag(post.cover.w400_h300_fl_q80, class: 'img-responsive'), post %></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <% @posts[13..24].try(:each) do |post| %>
    <div class="col-sm-4 home-post">
      <%= render partial: 'post', locals: { post: post } %>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-6"><%= link_to_previous_page @posts, image_tag('frontend/prev.png') %></div>
    <div class="col-sm-6 text-right"><%= link_to_next_page @posts, image_tag('frontend/next.png') %></div>
  </div>
</div>
<div class="wrap-archive mt20">
  <div class="container">
    <div class="row">
      <% @archive_posts.each_with_index do |post, i| %>
      <div class="col-sm-4">
        <div class="archive-post">
          <div class="row">
            <div class="col-sm-1"><span class="number"><%= i + 1 %></span></div>
            <div class="col-sm-11 archive-post-title"><%= link_to post.title(I18n.locale), post %></div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>