<div class="position-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        home &gt;
        <%= @post.category.name(I18n.locale) %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="post-title"><%= @post.title(I18n.locale) %></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="post-quote"><%= @post.description(I18n.locale) %></div>
    </div>
  </div>
</div>
<div class="container post-show">
  <div class="row mb20">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-xs-12 post-cover">
      <%= image_tag(@post.cover.w1800_h1350_fl_q80, class: 'img-responsive') %>
    </div>
  </div>
  <div class="row mb20">
    <div class="col-md-2"></div>
    <div class="col-md-6 post-content">
      <%= raw @post.content(I18n.locale) %>
    </div>
    <div class="col-md-4">
      <div class="post-see-more">
        <div class="post-see-more-header"><%= t('view.post.see_more')%></div>
        <div class="post-see-more-posts">
          <% @posts[0..6].each do |post| %>
          <div class="home-recommended-post">
            <div class="row">
              <div class="col-sm-4">
                <%= image_tag(post.cover.w160_h120_fl_q80, class: 'img-responsive') %>
              </div>
              <div class="col-sm-8">
                <h3><%= link_to post.title(I18n.locale), post %></h3>
                <div class="time-ago">1 week ago</div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>