<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="post-title"><%= @post.title(I18n.locale) %></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div class="post-quote"><%= @post.description(I18n.locale) %></div>
    </div>
  </div>
</div>
<div class="container post-show">
  <div class="row mb20">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-xs-12 post-cover">
      <%= image_tag(@post.cover.w1800_h1350_fl_q80, class: 'img-responsive') %>
    </div>
  </div>
  <div class="row mb20">
    <div class="col-md-2"></div>
    <div class="col-md-6 post-content">
      <%= raw @post.content(I18n.locale) %>
    </div>
    <div class="col-md-4">
      <div class="quote-list">
        <div class="quote-list-header"><%= t('view.post.see_more')%></div>
        <div class="quote-list-posts">
          <% @posts[0..7].each do |post| %>
          <div class="quote-list-post">
            <div class="row">
              <div class="col-sm-6">
                <%= image_tag(post.cover.w400_h300_fl_q80, class: 'img-responsive') %>
              </div>
              <div class="col-sm-6">
                <div class="quote-list-category"><%= post.category.name(I18n.locale) %>:</div>
                <h3><%= link_to post.title(I18n.locale), post %></h3>
                <div class="quote-list-quote">
                  <% if locale_en? %>
                  <%= post.en_description.try(:truncate, 80) %>
                  <% else %>
                  <%= post.zh_description.try(:truncate, 36) %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrap-archive mt20">
  <div class="container">
    <div class="row">
      <% @archive_posts.each_with_index do |post, i| %>
      <div class="col-sm-4">
        <div class="archive-post">
          <div class="row">
            <div class="col-sm-1"><span class="number"><%= i + 1 %></span></div>
            <div class="col-sm-11 archive-post-title"><%= link_to post.title(I18n.locale), post %></div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <script>
    jQuery(document).ready(function(){
      $(".post-content img").addClass("img-responsive");
    });
  </script>
<% end %>