<div class="about-wrap">
  <div class="container pt20 pb20">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p><span class="site-name">UK Lao Mao</span> celebrates the best of British lifestyle, people, places, products and design. The platform is published by SparkleBritain Ltd., and headquartered in London, England with a Chinese office in Beijing.</p>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/sparkle.png', class: 'img-responsive' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p>Written entirely by British journalists who are acknowledged experts in their field, it is translated into Chinese by a team of qualified linguists based in Beijing. It contains exclusive interviews with some of the UK’s most talented and creative people, and stories about British life, culture and tradition.</p>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/uklm.png', class: 'img-responsive' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p><span class="site-name">UK Lao Mao</span> comes in several formats. <span class="site-name">UKLM</span> magazine appears in China on Capital Airlines, HaiNan Airlines, OKair, Tianjin Airlines. It is also available as a free PDF download from this website, optimised for easy reading on iPad Mini-sized tablets.</p>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/capital_airlines.png', class: 'img-responsive' %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/hainan_airlines.png', class: 'img-responsive' %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/okair.png', class: 'img-responsive' %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/tianjin_airlines.png', class: 'img-responsive' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p><span class="site-name">UKLM</span> content also appears on the lifestyle section of Sina.com and its mobile website, and its associated Weibo and WeChat social media channels. <span class="site-name">UK Lao Mao</span> is an official partner of <%= link_to 'Sina.com', 'http://fashion.sina.com.cn/luxury/', target: '_blank' %>.</p>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/sina.png', class: 'img-responsive' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p><span class="site-name">UK Lao Mao</span> is an official partner with CITIC online shop, and its content appears on <%= link_to 'ecitic.com', 'http://ecitic.com', target: '_blank' %>.</p>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/ecitic.png', class: 'img-responsive' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p><span class="site-name">UK Lao Mao</span> is partnered with the Bird's Nest Stadium Space Art Committee, with exhibition space inside the Bird’s Nest Stadium Culture Centre.</p>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/birds_nest.png', class: 'img-responsive' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p><%= link_to 'uklaomao.com', root_path %> is hosted inside the People’s Republic of China, for fast access for Chinese readers. In all Chinese speaking countries the language defaults to Chinese, but beyond these it displays in English. Readers can toggle between languages by clicking on the heart-shaped flag on the upper right of the site.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p>Best wishes from the <%= link_to raw('<span class="site-name">UK Lao Mao</span> team'), experts_path %>!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>