<div class="about-wrap">
  <div class="container pt20 pb20">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p>由SparkleBritain Ltd.出品的<span class="site-name">英国老帽儿</span>是一个集结了英国生活方式、人物、景点、物产和设计创意等方方面面精华的平台，其总部设在英国伦敦，中国办公室设在北京。</p>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/sparkle.png', class: 'img-responsive' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p><span class="site-name">英国老帽儿</span>平台包含了英国最具才华和创意的人物专访，讲述了有关英国生活、文化及传统的故事。其内容完全由英国各领域的专家记者撰写，并由北京的专业团队精心翻译成中文。</p>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/uklm.png', class: 'img-responsive' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p class="no-padding">这个平台的形式多样。在中国，电子版<span class="site-name">《英国老帽儿》</span>杂志可在众多航空公司的航班上读到，其中包括：首都航空、海南航空、奥凯航空和天津航空。同时，读者可在本网站上免费下载<span class="site-name">《英国老帽儿》</span>杂志。此杂志在iPad Mini大小的平板电脑上便可获得最佳阅读效果。</p>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/capital_airlines.png', class: 'img-responsive' %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/hainan_airlines.png', class: 'img-responsive' %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/okair.png', class: 'img-responsive' %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/tianjin_airlines.png', class: 'img-responsive' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p>做为<%= link_to '新浪网', 'http://fashion.sina.com.cn/luxury/', target: '_blank' %>的官方合作伙伴，<span class="site-name">英国老帽儿</span>的内容还会定期出现在新浪时尚以及新浪手机网站、新浪微博和新浪微信等社交平台上。</p>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/sina.png', class: 'img-responsive' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p><span class="site-name">《英国老帽儿》</span>是中信集团网站<%= link_to 'ecitic.com', 'http://ecitic.com', target: '_blank' %>的合作伙伴，其内容将以专栏的形式出现在<%= link_to 'ecitic.com', 'http://ecitic.com', target: '_blank' %>之上。
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/ecitic.png', class: 'img-responsive' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p><span class="site-name">英国老帽儿</span>与鸟巢空间艺术委员会达成了合作伙伴关系，在鸟巢国家体育场内的文化中心设有展位。</p>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <%= image_tag 'frontend/logo/birds_nest.png', class: 'img-responsive' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p><span class="site-name">英国老帽儿</span>的官方网站uklaomao.com设在中国境内，便于中国读者阅读。此网站在官方语言为汉语的国家和地区默认以中文显示，在其他地区则默认为英文显示。读者在网站上随时可以通过页面右上角的心形国旗，自行选择阅读中文版或英文版内容。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="about-content">
          <div class="row">
            <div class="col-sm-6">
              <p>在此献上<%= link_to raw('<span class="site-name">《英国老帽儿》</span>团队'), experts_path %>的美好祝福！</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>