<div class="pageheader">
  <h2><i class="fa fa-list"></i> Expert <span>list</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="table-responsive">
    <table class="table table-dark table-striped mb30">
      <thead>
        <tr>
          <th><%= brac_t 'expert.en_name' %></th>
          <th><%= brac_t 'expert.zh_name' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @experts.each do |expert| %>
        <tr>
          <td><%= expert.en_name %></td>
          <td><%= expert.zh_name %></td>
          <td class="table-action">
            <%= link_to raw('<i class="fa fa-file-text-o"></i>'), [:cms, expert] %>
            <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_cms_expert_path(expert) %>
            <%= link_to raw('<i class="fa fa-trash-o"></i>'), [:cms, expert], method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= brac_paginate @experts %>
</div>