<div class="pageheader">
  <h2><i class="fa fa-pencil-square-o"></i> Magazine <span>new</span></h2>
</div>
<div class="contentpanel">
  <%= render "cms/commons/error_messages", target: @magazine %>
  <div class="panel panel-dark">
    <div class="panel-heading">
      <h4 class="panel-title">Magazine</h4>
    </div>
    <div class="panel-body panel-body-nopadding">
      <%= form_for [:cms, @magazine], html: { class: 'form-horizontal form-bordered' } do |f| %>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'magazine.en_issue' %></label>
          <div class="col-sm-6">
            <%= f.text_field :en_issue, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'magazine.zh_issue' %></label>
          <div class="col-sm-6">
            <%= f.text_field :zh_issue, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'magazine.cover' %></label>
          <div class="col-sm-6">
            <%= f.file_field :cover, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'magazine.file' %></label>
          <div class="col-sm-6">
            <%= f.file_field :file, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'magazine.en_description' %></label>
          <div class="col-sm-6">
            <%= f.text_area :en_description, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_t 'magazine.zh_description' %></label>
          <div class="col-sm-6">
            <%= f.text_area :zh_description, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 text-center">
            <%= f.submit 'Submit', class: 'btn btn-primary' %>&nbsp;
            <%= link_to 'Return', cms_magazines_path, class: 'btn btn-default' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>