<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UKLaomao</title>
    <%= stylesheet_link_tag 'http://fonts.useso.com/css?family=Oswald:400,700|Abel:400|Alfa+Slab+One:400|Gentium+Book+Basic:400,700&subset=latin' %>
    <%= stylesheet_link_tag 'frontend', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-5 col-xs-2 col-xs-offset-5 logo">
          <%= link_to image_tag('frontend/logo.png', class: 'img-responsive center-block'), root_path %>
        </div>
      </div>
    </div>
    <header class="wrap">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4 title">
            <h1 class="text-center"><%= t('view.home.title') %></h1>
            <p class="sub text-center"><%= t('view.home.subtitle') %></p>
          </div>
        </div>
      </div>
    </header>
    <nav class="wrap navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% @categories.each do |category| %>
            <li>
              <%= link_to category.name(I18n.locale), category %>
            </li>
            <% end %>
          </ul>
          <p class="nav navbar-text navbar-right">
            <% if I18n.locale == :en %>
            <%= link_to image_tag('frontend/flag_cn.png', class: 'img-responsive'), url_for(locale: :zh) %>
            <% else %>
            <%= link_to image_tag('frontend/flag_en.png', class: 'img-responsive'), url_for(locale: :en) %>
            <% end %>
          </p>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <% @categories.each do |category| %>
        <div class="col-md-12 sub-navbar" id="sub-navbar-category-<%= category.id %>">
          <ul>
            <% category.posts.published.latest.limit(5).each do |post| %>
            <li>
              <%= link_to image_tag(post.cover.w400_h300_fl_q80), post, target: '_blank' %>
            </li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
    <div class="position-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <%= link_to image_tag('frontend/logo.png', class: 'logo'), root_path %>
          </div>
          <div class="col-md-2">
            <%= link_to 'about', about_path %>
          </div>
          <div class="col-md-2">
            <% if I18n.locale == :en %>
            <%= link_to 'experts', '#' %>
            <% else %>
            <%= link_to 'experts', experts_path %>
            <% end %>
          </div>
          <div class="col-md-2">
            <%= link_to 'contact', contact_path %>
          </div>
          <div class="col-md-2">
            <%= link_to 'search', anchor: 'search-bar' %>
          </div>
          <div class="col-md-2">
            <%= link_to 'subscribe', anchor: 'subscribe-bar' %>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
    <footer class="wrap-mirror">
      <%= image_tag 'frontend/laomao.png', class: 'center-block' %>
    </footer>
    <footer class="wrap-copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p class="text-center">© 2015 SPARKLE BRITAIN LTD. ALL RIGHTS RESERVED.</p>
            <%= image_tag('frontend/copyright_cn.png', class: 'img-responsive center-block') %>
          </div>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'frontend', 'data-turbolinks-track' => true %>
    <script type="text/javascript">
      // $(document).ready(function() {
      //   $('.navbar-nav > li').bind('mouseover', openSubMenu);
      //   $('.navbar-nav > li').bind('mouseout', closeSubMenu);
      //   function openSubMenu() {
      //     $('#sub-navbar-category-1').css('visibility', 'visible');  
      //   };
      //   function closeSubMenu() {
      //     $('#sub-navbar-category-1').css('visibility', 'hidden'); 
      //   };
      // });
    </script>
    <%= content_for :javascript %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-65381055-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>