<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UKLaomao</title>
    <%= stylesheet_link_tag 'frontend', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 logo">
          <%= image_tag 'frontend/logo.png', class: 'img-responsive center-block' %>
        </div>
      </div>
    </div>
    <header class="wrap">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <div class="row">
              <div class="col-sm-12 meta">Username</div>
              <div class="col-sm-12 meta">Subscribe</div>
              <div class="col-sm-12 meta">Search</div>
            </div>
          </div>
          <div class="col-sm-3 pull-right title">
            <h1><%= t('view.home.title')%></h1>
          </div>
          <div class="col-sm-2 pull-right language">
            <% if I18n.locale == :en %>
            <%= link_to image_tag('frontend/flag_cn.png', class: 'img-responsive'), url_for(locale: :zh) %>
            <% else %>
            <%= link_to image_tag('frontend/flag_en.png', class: 'img-responsive'), url_for(locale: :en) %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <nav class="wrap navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% @categories.each do |category| %>
            <li><%= link_to category.name(I18n.locale), '#' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
    <footer class="wrap-related">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <%= link_to 'about' %>
          </div>
          <div class="col-sm-4">
            <%= link_to 'experts' %>
          </div>
          <div class="col-sm-4">
            <%= link_to 'dcma' %>
          </div>
        </div>
      </div>
    </footer>
    <footer class="wrap-copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
             <p class="text-center">© 2014, 2015 SPARKLE BRITAIN LTD. ALL RIGHTS RESERVED.</p>
          </div>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'frontend', 'data-turbolinks-track' => true %>
  </body>
</html>